<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Survey Form</title>
  </head>
  <body>
    <form action="/users" method="post">
      <div class="container" style="text-align: center;">
        <h1>Survey Form</h1>
        <p>Your Name: <input type="text" name="name" /></p>
        <p>Number: <input type="text" name="number" /></p>
        <p>Dojo Locations:
          <select name="location">
            <option value="San Jose">San Jose</option>
            <option value="Washington DC">Washington DC</option>
            <option value="Seattle WA">Seattle WA</option>
            <option value="Remote">Remote</option>
          </select>
        </p>
        <p>Comment (optional):</p>
        <textarea name="comment"></textarea>
        <p><input type="submit" value="Button"/></p>
      </div>
      
    </form>
  </body>
</html>
