<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>html Table page 2</title>
    <style>
      div {
      text-align:center;
      font-size: 30px;
    }
      table,
      th,
      td {
        border: 2px solid black;
        padding: 5px;
      }

      table {
        border-spacing: 15px;
      }

      .center {
      margin-left:auto;
      margin-right:auto;
    }
    </style>
  </head>
  <body>
    <div>
      <a href="http://localhost:8000/">Click here:)</a>
    </div>

    <table class="center">
        <tr>
            <th>User</th>
            <th>LastName</th>
            <th>Firstname</th>
            <th>Full name</th>
            <th>Full name upper case</th>
            <th>Length of full name</th>
        </tr>

        <tbody>
            {% for i in range(user|length) %} <!-- (adfv | adf) is llike using dot-->
            <tr>
                <td>{{i+1}}</td>
                <td>{{user[i]['first_name']}}</td>
                <td>{{user[i]['last_name']}}</td>
                <td>{{user[i]['first_name']}} {{user[i]['last_name']}}</td>
                <td>{{user[i]['first_name']|upper}} {{user[i]['last_name']|upper}}</td>
                <td>{{(user[i]["first_name"]|length) + (user[i]["last_name"]|length)}}</td>
            </tr>
            {% endfor %}
        </tbody>
  </body>
</html>
