<!DOCTYPE html>
<html lang="en">
<head>
    <title>userProfile Page</title>
</head>
<body>
    {% extends 'main.html' %}
    {% block content %}
      <main class="profile my-md">
        <div class="container">
          <div class="layout">
            <div class="column column--1of3">
              <div class="card text-center">
                <div class="card__body dev">
                  <img class="avatar avatar--xl" src="{{ userProfile.profile_image.url }}"/>
                  <h2 class="dev__name">{{userProfile.name}}</h2>
                  <p class="dev__title">{{userProfile.short_intro}}</p>
                  <p class="dev__location">📍 {{userProfile.location}}</p>
          
                </div>
              </div>
            </div>
            <div class="column column--2of3">
              <div class="devInfo">
                <h3 class="devInfo__title">About Me</h3>
                <p class="devInfo__about">{{userProfile.bio}}</p>
              </div>
              
    


            </div>
          </div>
        </div>
      </main>
    {% endblock %}
</body>
</html>
