{% load static %}

<!DOCTYPE html>
<head>
    <title>Jihuns about me</title>
    <link href="{% static 'css/main.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-60  border-info" id="profile-wrapper">
                    <p style="font-weight: bold; text-align:center">Jihun Park</p>
					<img id="profile-pic" src="{% static 'images/ghoney.png' %}" >
					<hr> 
					<!-- <a style="text-align: center" href="/"><button type="button">Back To Main</button></a> -->

                </div>
			</div>
			
			<div class="col-md-9">
				<ul style="font-weight: bold; text-align:center" class="social-links"></ul>
				<div class="card card-body h-45  border-info">
					<h4 style="font-weight: bold; text-align:center">About me</h4>
					<hr>
					
                    <p>Welcome to my Portfolio! My name is Jihun and by visiting this "about me" section, you should learn a lot about me.I am a self taught software engineer, who possesses a passion for designing fully functional, yet elegant web applications using Python and Javascript. From the moment I produced "Hello World" in the console, I knew I was hooked into the world of tech. I immediately became curious, excited and knew this was it. That is when I got to work. Stackoverflow became my most visited site.I consider myself as a lifelong learner and I am always trying to stay on top of emerging technology trends, whether that is coding, exploring or testing.</p>
					<a style="text-align: center" href="/"><button type="button">Back To Main</button></a>
					
				
				</div>	
            </div>
		</div>
		<br>

        <div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Software Developer at Cognixia</p>
					<p>Designed dynamic applications and projects utilizing modern software development techniques, methodologies, and architectural design-patterns.   Demonstrated individual project’s features and functionality in group code-critique sessions, leveraging constructive feedback to optimize code-bases and solutions. 
						
						</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>My most powerful language is definietely <strong>Python and Django</strong>. HTML/CSS is something I am trying to get better at in terms of writing cleaner and clearer code. I also have full time experience in <strong>SQL</strong>.</p>
					<p>PS: Working on Javascript, MongoDB, NodeJS and React at the moment. </p>
				</div>
			</div>
		</div>

        <div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Some of my hobbies</h5>
					<hr>
					
					<p>One of the things I priortize in life is <strong>health</strong>. I take fitness very seriously and I believe everyone should put in some exercise especially in 2022. I also love watching and playing basketball. Growing up, I was a huge NBA fan and I consider myself <strong>analytical/statistc</strong> junkie in sports.</p>

					<p>Another one of my hobbies is playing <strong>Chess</strong>. There was a point in time where I seriously considered becoming a professional chess player. I participated in couple tournaments in Chicago to test my skills. In the beginning I was very humbled. However, as I participated in more tournaments, it became a fun hobbie that I still play today.</p>

					
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Goals in Life</h5>
				<hr>
				<p>Just like most people, one of my goals is to reach financial freedom. Personally, I definietely don't want to become greedy, however, I definietely don't want to become broke.</p>
				<p>One of my goals is to somehow make a difference in the world. I believe by always getting better at my craft, someday I can create a product that help people for the better.</p>

				</div>
			</div>
		</div>

</body>

</html>
<p style="font-size:8px">Copyright © 2022 Jihun Park</p>