{% load static %}

<!DOCTYPE html>
<head>
    <title>Jihuns Portfolio Aboutme</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <br>
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="card card-body h-100  border-info" id="profile-wrapper">
                    <p style="font-weight: bold; text-align:center">Jihun Park</p>
                    <img id="profile-pic" src="{% static 'images/ghoney.png' %}">
                    <hr>
                    <a style="text-align: center" href="/"><button type="button">Back To Main</button></a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100  border-info">
                    <ul class="social-links">
                        <h4>About me</h4>
                        <hr>
                        <p>Welcome (again)! My name is Jihun Park and if you reading this, that probably means you are somewhat interested in me. You are at the right place.</p>
						<h4>Career</h4>
						<p>First of all, I am a coding bootcamp graduate, however, I consider myself more of a self taught developer. From the moment I produced <strong>"Hello World"</strong> in the console, I knew I was hooked into the world of technology. I immediately became curious and excited for endless possibilities of what I can build potentially. Doing some research, I realized Python would be the language of my choice to write most of my codes in. This portfolio youa re seeing is mostly built with <strong>Python with Django Framework</strong>. Most of my projects you will see are most likely written with Python and Javascript.</p>
						<h4>Hobbies</h4>
						<p>One of the things I priortize in life is <strong>health</strong>. I take fitness very seriously and I believe everyone should put in some exercise especially in 2022. I also love watching and playing basketball. Growing up, I was a huge NBA fan and I consider myself <strong>analytical/statistc</strong> junkie in sports. Another one of my hobbies is playing <strong>Chess</strong>. There was a point in time where I seriously considered becoming a professional chess player.</p>

						<h4>Goals in Life</h4>
				
						<p>Just like most people, one of my goals is to reach financial freedom. One of my goals is to somehow make a difference in the world. I believe by always getting better at my craft, someday I can create a product that help people for the better.</p>
                        
                        
                    </ul>
                </div>
            </div>
                
        </div>
    </div>
    
    
</body>
</html>
<p style="text-align:center; font-size:10px">Copyright © 2022 Jihun Park</p>