{% load static %}
<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
	<link rel="stylesheet" href="{% static 'styles/app.css' %}" />
    <title>Jihuns Portfolio Main</title>
</head>
<body>
    <main class="profile my-md">
        <div class="container">
          <div class="layout">
            <div class="column column--1of3">
              <div class="card text-center">
                <div class="card__body dev">
                  <img class="avatar avatar--xl" src="{% static 'images/ghoney.png' %}"/>
                  <h2 class="dev__name">Jihun Park</h2>
                  <p class="dev__title">Software Developer</p>
                  <p class="dev__location">📍 Chicago, IL</p>
                  <br>
                  <a href="{% url 'index' %}" class="btn btn--sub btn--lg">Back To Main</a>
               
                </div>
              </div>
            </div>
            <div class="column column--2of3">
              <div class="devInfo">
                <h3 class="devInfo__title">Jihun's Portfolio</h3>
                <p class="devInfo__about">
                    <hr>
                    <p>Welcome to my Portfolio, thanks for visiting!</p>
                    <p>Feel free to explore different pages to get to know more about me.</p>

                    <table class="table">
                      <thead>
                        <tr>
                        <th scope="col"><a href="{% url 'aboutme' %}" class="dev__location">About Me</a></th>
                        <th scope="col"><a href="{% url 'contactme' %}" class="dev__location">Contact Me</a></th>
                        <th scope="col"><a href="{% url 'projects' %}" class="dev__location">My Projects</a></th>
                        </tr>
                      </thead>
                      </table>          
              </div>
              
            </div>
          </div>
        </div>
      </main>

    
</body>
</html>
<p style="text-align:center; font-size:10px">Copyright © 2022 Jihun Park</p>