{% load static %}

<!DOCTYPE html>
<head>
    <title>Jihuns Portfolio Main</title>
    <link href="{% static 'css/main.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            
            <div class="col-md-3">
                <div class="card card-body h-100  border-info" id="profile-wrapper">
                    <p style="font-weight: bold; text-align:center">Jihun Park</p>
                    <img id="profile-pic" src="{% static 'images/ghoney.png' %}">
                    <hr>
                    <a style="text-align: center" href="/"><button type="button">Back To Main</button></a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100  border-info">
                    <ul class="social-links">
                        <h4>Jihun's Portfolio</h4>
                        <hr>
                        <p>Welcome to my Portfolio, thanks for visiting!</p>
                        <p>Feel free to explore different pages to get to know more about me.</p>
                        <hr>
                        <hr>
                        <a style="text-align: center" href="{% url 'aboutme' %}"><button type="button">About Me</button></a>
				        <hr>
				        <a style="text-align: center" href="{% url 'contactme' %}"><button type="button">Contact Me</button></a>
				        <hr>
				        <a style="text-align: center" href="{% url 'projects' %}"><button type="button">My Projects</button></a>
				        <hr>
                    </ul>
                </div>
            </div>
                
        </div>
    </div>
    
    
</body>
</html>
<p style="text-align:center; font-size:10px">Copyright © 2022 Jihun Park</p>