{% load static %}
<!DOCTYPE html>
<head>
    <title>Jihuns portfolio</title>
    <link href="{% static 'css/main.css'  %}" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="col-md-3">
        <div class="card card-body h-100  border-info" id="profile-wrapper">
            <h4>Jihun Park</h4>
            <img src="{% static 'images/jihun.jpg' %}" >
            <hr>
            <h4>About Me</h4>
            <p>I am a creative software developer who possesses a passion for desiging fully functional, yet elegant web applications using Python and Javascript.</p>
        </div>

        <div class="card card-body h-100  border-info" id="profile-wrapper">
            <div class="card card-body h-100  border-info">
                <h4>My First Job as a Developer</h4>
                <hr>
                <p>3 months after writing my first Hello World program on September 8th 2017 (While working in the marketing department) I had convinced my boss to let me take a stab at building a better version of the outdated laboratory management system my company was running on.</p>

                <p>Before I knew it we transitioned from the old system and we're on to mine. My newbie self was now in charge of hosting hundreds of thousands of lab samples and supporting thousands of clients.</p>

                <p>From this you’ll see that I’m someone that jumps before I can talk myself out of doing something scary.</p>

                <ul class="social-links">
                    <li><img class="social" src="{% static 'images/facebook.png' %}"></li>
                    <li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
                    <li><img class="social" src="{% static 'images/twitter.png' %}"></li>
                    <li><img class="social" src="{% static 'images/youtube.png' %}"></li>
                </ul>

            </div>
        </div>
    </div>

</body>
</html>
        