{% load static %}
<!DOCTYPE html>
<head>
  
	<link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
	<link rel="stylesheet" href="{% static 'styles/app.css' %}" />
    <title>Jihun's Projects</title>
</head>
<body>
    <main class="profile my-md">
        <div class="container">
          <div class="layout">
            <div class="column column--1of3">
              <div class="card text-center">
                <div class="card__body dev">
                  <img class="avatar avatar--xl" src="{% static 'images/ghoney.png' %}"/>
                  <h2 class="dev__name">Jihun Park</h2>
                  <p class="dev__title">Software Developer</p>
                  <p class="dev__location">📍 Chicago, IL</p>
                  <br>
                  <a href="{% url 'index' %}" class="btn btn--sub btn--lg">Back To Main</a>
               
                </div>
              </div>
            </div>
            <div class="column column--2of3">
              <div class="devInfo">
                <h3 class="devInfo__title">Personal Projects</h3>
                <p class="devInfo__about">
                    <ul style="text-align: center" class="social-links">
                        <hr>
                        
                        <a style="text-align: center" href="https://jihunscrud.herokuapp.com/">C.R.U.D Application</a> is an application which allows you to put a review of public place of your choice. The application is created to demonstrate the logic of C.R.U.D(create, read, update and delete).</p>
                        <hr>
                        <a style="text-align: center" href="https://jihunsgamblegame.herokuapp.com/">Gamble Game</a> is a web application game allows you to bet your digital money. This game is completely free and no risk involved. This game is a fun way to get the benefit of getting the thrill of betting money at no cost. Enjoy!</p>
                        <hr>
					            	<a style="text-align: center" href="https://jihunsplayground.herokuapp.com/">Jihuns Playground</a> is a web application that lets you post any texts you want and lets you clear them when you want to. You can keep the site as it is if you want to save the texts you posted. It is a fun way to post whatever you want and delete them whenever you want. No judgement</p>
                        <hr>
                        <a style="text-align: center" href="https://jihunspassword.herokuapp.com/">Random Password Generator</a> is an application which generates random strong password. Password includes upper and lower case letters and integers to show and create a strong password. </p>
                        <hr>
				            <hr>
                </div>
            </div>
         </div>
     </div>
 </main>
</body>
</html>
<p style="text-align:center; font-size:10px">Copyright © 2022 Jihun Park</p>