{% load static %}

<!DOCTYPE html>
<head>
    <title>Jihuns Portfolio Project</title>
    <link href="{% static 'css/main.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <br>
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="card card-body h-100  border-info" id="profile-wrapper">
                    <p style="font-weight: bold; text-align:center">Jihun Park</p>
                    <img id="profile-pic" src="{% static 'images/ghoney.png' %}">
                    <hr>
                    <a style="text-align: center" href="/"><button type="button">Back To Main</button></a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100  border-info">
                    <ul class="social-links">
                        <h4>Jihun's Projects</h4>
                        <hr>

                        <a style="text-align: center" href="https://jihunsgamblegame.herokuapp.com/">Gamble Game</a> is a web application game allows you to bet your digital money. This game is completely free and no risk involved. This game is a fun way to get the benefit of getting the thrill of betting money at no cost. Enjoy!</p>

						<a style="text-align: center" href="https://jihunsplayground.herokuapp.com/">Jihuns Playground</a> is a web application that lets you post any texts you want and lets you clear them when you want to. You can keep the site as it is if you want to save the texts you posted. It is a fun way to post whatever you want and delete them whenever you want. No judgement</p>
						
				        <hr>
                    </ul>
                </div>
            </div>
                
        </div>
    </div>
    
    
</body>
</html>
<p style="text-align:center; font-size:10px">Copyright © 2022 Jihun Park</p>