<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index Page</title>
</head>
<body style="text-align: center">
    {% extends "main.html" %}
    {% block content %}

    
    <h1>Index Page</h1>
    <table>
        <tr>
            <th> Title </th>
            <th >ID </th>
            <th> Positive Votes </th>
            <th> Votes Ratio </th>
            <th> Created </th>
            <th> View </th>
            <th> Update </th>
            <th> Delete </th>
        </tr>
        {% for project in projects %}
        <tr>
            <td style="text-align: center">{{project.title}}</td>
            <td style="text-align: center">{{project.id}}</td>
            <td style="text-align: center">{{project.vote_total}}</td>
            <td style="text-align: center">{{project.vote_ratio}}</td>
            <td style="text-align: center">{{project.created}}</td>
            <td style="text-align: center"><a href="{% url 'display' project.id %}">View</a></td>
            <td style="text-align: center"><a href="{% url 'update' project.id %}">Update</a></td>
            <td style="text-align: center"><a href="{% url 'delete' project.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endblock content %}
</body>
</html>
