{% load static %}

<!DOCTYPE html>
<head>
    <title>Jihuns portfolio</title>
    <link href="{% static 'css/main.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-60  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/jihun.jpg' %}" >
					<hr>
					<p style="font-weight: bold;">Jihun Park</p>
					<p>"The most important thing is to try and inspire people so that they can be great in whatever they want to do" - Kobe Bryant</p>

                    
                </div>
			</div>