
 <table class="table">
	<thead>
	  <tr>
		<th scope="col">GitHub</th>
		<!-- <th scope="col">ID</th> -->
		<th scope="col">LinkedIn</th>
		<th scope="col">Instagram</th>
		<th scope="col">Email Me</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<td><a title="Github" href="https://github.com/jxxparker" target="_blank"><i class="im im-github"></i></a></td>
		<td><a title="LinkedIn" href="https://www.linkedin.com/in/jihunjpark/" target="_blank"><i class="im im-linkedin"></i></a></td>
		<td><a title="Instagram" href="https://www.instagram.com/jihunypark/" target="_blank"><i class="im im-instagram"></i></a></td>
		<td><a title="Email" href="mailto:jihunpark1992@gmail.com" target="_blank"><i class="im im-mail"></i></a></td>                  
	  </tr>
	</tbody>
  </table>


