<!DOCTYPE html>
<html lang="en">
<head>
    <title>Projects</title>
</head>
<body>
    {% extends 'main.html' %}
    {% load static %} 
    {% block content %}

     <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">

        
          <div class="column">
            <div class="card project">
              <a href="https://jihunsloginreg.herokuapp.com/" class="project">
                <img class="project__thumbnail" src="{% static 'images/loginreg.png' %}" alt="project thumbnail"/>
                <div class="card__body">
                  <h3 class="project__title">Login Registration</h3>
                  
                  <p class="project--rating">
                    <span style="font-weight: bold;">Login registration is a web application which allows you to register an account. With that account, you can log in and log out and see other people's profile and your own profile. 
                  </p>
                <p><a class="project__author" href="https://github.com/jxxparker/UdaPyt/tree/master/django/dojo/07_loginreg/loginreg">Github Link</a></p>
                </div>
              </a>
            </div>
          </div>

            <div class="column">
            <div class="card project">
              <a href="https://jihunscrud.herokuapp.com/" class="project">
                <img class="project__thumbnail" src="{% static 'images/loginreg.png' %}" alt="project thumbnail"/>
                <div class="card__body">
                  <h3 class="project__title">C.R.U.D</h3>
                  
                  <p class="project--rating">
                    <span style="font-weight: bold;">C.R.U.D Application</a> is an application which allows you to put a review of public place of your choice. The application is created to demonstrate the logic of C.R.U.D(create, read, update and delete).
                  </p>
                <p><a class="project__author" href="https://github.com/jxxparker/UdaPyt/tree/master/django/dojo/07_loginreg/loginreg">Github Link</a></p>
                </div>
              </a>
            </div>
          </div>



         </div>
      </div>
    </section>
    {% endblock content %}
    
</body>
</html>